<div class="item-form-container">
  <%= form_with(model: [@group_category, @entity_category], url: group_category_entity_categories_path(@group_category), local: true, method: :post, html: { class: "item-form" }) do |form| %>
    <div class="input-field">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "Enter name", required: true %>
    </div>

    <br>

    <div class="input-field">
      <%= form.label :amount %>
      <%= form.number_field :amount, placeholder: "Enter amount", required: true %>
    </div>

    <br>

    <div class="field">
      <%= form.label :group_category_id, "Select Categories" %>
      <%= form.select :group_category_id, options_for_select(@group_categories.map { |category| [category.name, category.id] }, @entity_category.group_category_id), { class: "browser-default" } %>
    </div>

    <br>

    <div class="add-btn">
      <%= form.submit "Create Item" %>
    </div>
  <% end %>
</div>
