<%= render 'navbar/navbar', title: "Categories", back_link: false %>
<div class="categories-page">

  <% @group_categories.each do |group_category| %>
   <%= link_to group_category_entity_categories_path(group_category) do %>
      <div class="category">

        <div class="icon-name-amount d-flex">
          <%= content_tag :i, "", class: "fa #{group_category.icon}" %>
          <p><%= group_category.name %></p>
       
          <p>$ <%= group_category.total_amount %></p>
           </div> 
          <div class="category-actions">
       <%= link_to 'Show', group_category_path(group_category), class: "show-link" %>
      </div>
      </div>
    <% end %>
  <% end %>

  <div class="add-btn">
      <%= link_to 'NEW CATEGORY', new_group_category_path %>
  </div>
</div>